* {
  box-sizing: border-box;
}

.home h2 {
  font-size: 3rem;
  color: rgb(240, 230, 230);
}

.home h1 {
  font-size: 4rem;
  color: rgb(240, 230, 230);
  margin: 2rem 0;
  text-shadow: 0.1rem 0.1rem 0.1rem rgba(255, 255, 255, 0.9);
}

.home h1 span {
  color: #338e90;
  margin: 0;
}

.profile-card {
  margin-left: 10%;
}

.linkedinAndEmail {
  padding-left: 10px;
  background-color: white;
  border-radius: 3px;
}

.recThumbnails {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

a:any-link {
    text-decoration: none;
    color: rgb(12, 12, 12);
    font-weight: bold;
}

a:hover {
    color: #1a5fba;
}

.contactTitle {
  margin: 0 auto;
}

.contactTopBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

