* {
  box-sizing: border-box;
}

body {
  background-image: url(images/leavesBackground.jpg);
}

.home h2 {
  font-size: 3rem;
  color: rgb(240, 230, 230);
}

.home h1 {
  font-size: 4rem;
  color: rgb(240, 230, 230);
  margin: 2rem 0;
  text-shadow: 0.1rem 0.1rem 0.1rem rgba(255, 255, 255, 0.9);
}

.home h1 span {
  color: #338e90;
  margin: 0;
}

.profile-card {
  margin-left: 10%;
}

.linkedinAndEmail {
  padding-left: 10px;
  background-color: white;
  border-radius: 3px;
}

.recThumbnails {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

a:any-link {
    text-decoration: none;
    color: rgb(12, 12, 12);
    font-weight: bold;
}

a:hover {
    color: #1a5fba;
}

.contactTitle {
  margin: 0 auto;
}

.contactTopBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.icon {
  font-size: 100px;
}

.icon-div {
  margin-bottom:30px;
  margin-top: 30px;
  text-align: right;
}


@media only screen and (max-width: 600px) {
  .icon-div {
    margin-bottom:30px;
    margin-top: 30px;
    text-align: center;
  }
  }

  .resume-title {
    padding-top: 20px;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

.card-about {
  content-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.about-list {
  list-style-type: none;
}

.resume {
  text-decoration: none;
  text-align: center;
}